#cash_offer.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} &times;
        %h4.modal-title Get a Cash Offer in Days
      .modal-body
        %p This amount represents the amount you can expect to get from an investor. This is typically far below market value and the investor will clean it up and resell it. The upside for you, the seller, is that it happens fast, you can avoid realtors fees, and investors will often buy homes that need repairing as well.
      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close