#realtor_lead.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title.mod-tit-lead Free Instant Property Valuation Report
      .modal-body.lead-body
        = render 'lead_form', lead: @lead
