#ninety_plus.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} &times;
        %h4.modal-title Above Market Value
      .modal-body
        %p Homes piced above market value almost never sell. It is very important to have a conversation with your realtor about what market value is for your property. Often when a home sells above market value it is because sellers concessions were added to the price. Keep this in mind when looking at homes in your area.
      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close