#ninety_days.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} &times;
        %h4.modal-title Market Value
      .modal-body
        %p This amount represents market value for your property. By pricing your home at market value, you do not have an advantage over any other properties due to price. You will have to wait to find just the right buyer. This may be ideal if your house has great curb appeal and shows really well with modern appliances, etc.
      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close