#sixty_days.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} &times;
        %h4.modal-title Sell fast below market.
      .modal-body
        %p This amount represents slightly below market for your property. By pricing your home slightly below market, you will get many interested buyers and get your hime sold fast. Selling your home fast even though it is for less, is sometimes economically the best choice, this is a good conversation to have with your realtor.
      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close