.container
  .jumbotron.text-center.show-jumbotron
    .well.well-lg
      %h2.address-show-page
        = @address
    =# render 'date_form'
    = render 'prices_table'
    = render 'lead_realtor'
    = render 'cash_lead'
  